@import './base.css';
* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    align-items: center;
        
  }

  #app {
    /*display: grid;
    grid-template-columns: 1fr 1fr;*/
    padding: 0 2rem;

  }
}

.strikeout {
  text-decoration: line-through;
}

.selected {
  background-color: lightblue;
}
.selected:hover {
  font-size: larger;
}

.priority {
  color: rgb(172, 59, 59);
    
}

.high-priority-box{
  margin: 10px;
  font-size: 20px;
  
}

li {
  text-transform: capitalize;
  font-size: 20px;
}

h1 {
  text-decoration: underline;
  font-size: 50px;
  text-underline-offset: 15px;
  margin-bottom: 30px;
  
}

.item-input{

  height: 50px;
  width: 300px;
  font-size: 20px;
  text-align: center;
}

.btn {
  background-color: rgb(5, 131, 145);
  color: white;
  height: 40px;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  width: 200px;
  margin: 20px 0;
    
}

.btn:disabled {

  background-color: grey; 

}

.list {
  border: 1px solid lightseagreen;
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0;
  width: 700px;

}